@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mask-bottom {
    mask-image: linear-gradient(
      to bottom,
      oklch(var(--pc)) 36%,
      transparent 90%
    );
  }

  .mask-top-bottom {
    mask-image: linear-gradient(
      180deg,
      transparent 0%,
      oklch(var(--pc)) 30%,
      oklch(var(--pc)) 30%,
      transparent 80%
    );
  }

  .text-outline {
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: oklch(var(--b1));
  }

  .letter-shadow-r {
    mask-image: linear-gradient(
      to right,
      oklch(var(--pc)) 36%,
      transparent 100%
    );
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  color: #fff;
  scroll-behavior: smooth;
}
