@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

:root {
}

body {
  background: #141414;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  color: #fff;
}

footer {
  background: url("../components/Footer/assets/footer.svg") no-repeat;
  background-size: cover;
}
