@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mask {
    mask-image: linear-gradient(
      to bottom,
      var(--primary) 36%,
      transparent 100%
    );
  }
}

:root {
  --primary: #141414;
}

body {
  background: var(--primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  color: #fff;
  scroll-behavior: smooth;
}

footer {
  background: url("../components/Footer/assets/footer.svg") no-repeat;
  background-size: cover;
}
